oldbatch/
.env
data/
.vscode/
__pycache__ 
.ipynb_checkpoints
tests/
# IPython
profile_default/
ipython_config.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
progress_state.pkl
tester.ipynb